@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: satoshi;
  src: url(./fonts/Satoshi-Variable.ttf);
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}


:root {
  font-family: "satoshi";
}
@media only screen and (max-width: 768px) {
  .Toastify__toast-container {
    width: 50%; /* Adjust the width as needed */
  }
}