* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorScheme: #2563EB;
    --bgcolor: #020817;
    --borderColr: rgba(30, 41, 59, 1);
    --textColor: #F8FAFC;
    --HoverColor: #1E293B;
    --HoverColor2:
}


body {
    width: 100%;
    /* Ensure body takes up full width */
    height: 100vh;
    /* Ensure body takes up full height */
    /* border: 1px solid black; */
    color: var(--textColor);
    background: var(--bgcolor);
    flex-direction: column;
    /* gap: -1rem; */
}

.containerlogin {
    width: 100%;
    /* display: block; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
}

.page1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 11rem;

}

.page1 h1 {
    font-size: 5rem;
    border-bottom: 3px solid var(--colorScheme);

}

.page1 p {
    width: 50%;
    font-size: 2rem;
    margin: 0.5rem 0;
}

.loginform form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */

}

.page2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page1 {
    /* border: 1px solid green; */
}

.page2 {
    /* border: 1px solid blue; */
}

.page2 .loginform {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--borderColr);
    border-radius: 8px;
    padding: 2rem 0;
}

.page2 .loginform h2 {
    margin: 1rem 0 0.5 0;
    font-size: 2rem;

}

.page2 .loginform h2 span {
    color: var(--colorScheme);
    font-weight: 800;
}

.page2 .loginform .inputfield {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5rem 0;
    gap: 0.5rem;

}

.page2 .loginform .inputfield p {
    font-size: 1rem;
    font-weight: 600;
}

.page2 .difauth {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;

}

.page2 .difauth button {

    width: 50%;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: transparent;
    border: 1px solid var(--borderColr);
    border-radius: 5px;
    cursor: pointer;
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;

}

.page2 .difauth button:hover {
    background: var(--HoverColor);

}


.page2 .loginform input[type="text"],
.page2 .loginform input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--borderColr);
    /* Set initial border to transparent */
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: border 0.1s ease;
    /* Add transition for smoother change in border color */
}

.page2 .loginform input[type="text"]:focus,
.page2 .loginform input[type="password"]:focus {
    /* Styling for focused input fields */
    outline: none;
    /* Removing default focus outline */
    border: 0.093rem solid var(--colorScheme);
    /* Adjust border color for focus */
}

.page2 .loginform .submitbtn {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

}

.page2 .loginform .submitbtn button {
    width: 100%;
    padding: 0.8rem;
    margin: 1rem 0;
    background-color: var(--colorScheme);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.haveanAcount {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: right;
    margin-top: -1.5rem;
}

.haveanAcount p {
    width: 70%;
    font-size: 0.9rem;
    font-weight: 500;
}

.haveanAcount p a {
    color: var(--colorScheme);
    font-weight: 600;
    text-decoration: none;
}

.haveanAcount p a:hover {
    color: var(--colorScheme);
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .containerlogin {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    .page1 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding-top: 0rem;
        /* border: 1px solid red; */
    }

    .page1 h1 {
        font-size: 3rem;
        border-bottom: 3px solid var(--colorScheme);
    }

    .page1 p {
        display: none;
    }

    .page2 {
        /* border: 1px solid red; */
        /* padding: 0; */
        height: auto;
    }

    .page2 .loginform {
        width: 100%;
        height: auto;
    }

    .page2 .loginform p {
        font-size: 0.8rem;
    }

    .page2 .loginform h2 {
        margin: 1rem 0 0.5 0;
        font-size: 1.5rem;

    }

    .page2 .loginform .inputfield {
        width: 80%;
    }

    .page2 .loginform .inputfield p {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .page2 .loginform .submitbtn {
        width: 80%;
    }

    .page2 .difauth {
        width: 80%;
    }

    .page2 .difauth button {
        width: 70%;
    }

    .haveanAcount p {
        width: 80%;

    }
}